<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :idMoniteur %><br />
    <%= f.number_field :idMoniteur %>
  </div>
  <div class="field">
    <%= f.label :IDUser %><br />
    <%= f.number_field :IDUser %>
  </div>
  <div class="field">
    <%= f.label :startDate %><br />
    <%= f.date_select :startDate %>
  </div>
  <div class="field">
    <%= f.label :endDate %><br />
    <%= f.date_select :endDate %>
  </div>
  <div class="field">
    <%= f.label :Language %><br />
    <%= f.text_field :Language %>
  </div>
  <div class="field">
    <%= f.label :payed %><br />
    <%= f.check_box :payed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
