<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nbPeople %><br />
    <%= f.number_field :nbPeople %>
  </div>
  <div class="field">
    <%= f.label :startDate %><br />
    <%= f.date_select :startDate %>
  </div>
  <div class="field">
    <%= f.label :endDate %><br />
    <%= f.date_select :endDate %>
  </div>
  <div class="field">
    <%= f.label :lastName1 %><br />
    <%= f.text_field :lastName1 %>
  </div>
  <div class="field">
    <%= f.label :firstName1 %><br />
    <%= f.text_field :firstName1 %>
  </div>
  <div class="field">
    <%= f.label :lastName2 %><br />
    <%= f.text_field :lastName2 %>
  </div>
  <div class="field">
    <%= f.label :firstName2 %><br />
    <%= f.text_field :firstName2 %>
  </div>
  <div class="field">
    <%= f.label :lastName3 %><br />
    <%= f.text_field :lastName3 %>
  </div>
  <div class="field">
    <%= f.label :firstName3 %><br />
    <%= f.text_field :firstName3 %>
  </div>
  <div class="field">
    <%= f.label :lastName4 %><br />
    <%= f.text_field :lastName4 %>
  </div>
  <div class="field">
    <%= f.label :firstName4 %><br />
    <%= f.text_field :firstName4 %>
  </div>
  <div class="field">
    <%= f.label :level1 %><br />
    <%= f.number_field :level1 %>
  </div>
  <div class="field">
    <%= f.label :level2 %><br />
    <%= f.number_field :level2 %>
  </div>
  <div class="field">
    <%= f.label :level3 %><br />
    <%= f.number_field :level3 %>
  </div>
  <div class="field">
    <%= f.label :level4 %><br />
    <%= f.number_field :level4 %>
  </div>
  <div class="field">
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :payed %><br />
    <%= f.check_box :payed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
