<h1>Listing reservations</h1>

<table>
  <tr>
    <th>Idmoniteur</th>
    <th>Iduser</th>
    <th>Startdate</th>
    <th>Enddate</th>
    <th>Language</th>
    <th>Payed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reservations.each do |reservation| %>
  <tr>
    <td><%= reservation.idMoniteur %></td>
    <td><%= reservation.IDUser %></td>
    <td><%= reservation.startDate %></td>
    <td><%= reservation.endDate %></td>
    <td><%= reservation.Language %></td>
    <td><%= reservation.payed %></td>
    <td><%= link_to 'Show', reservation %></td>
    <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
    <td><%= link_to 'Destroy', reservation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reservation', new_reservation_path %>
