<p id="notice"><%= notice %></p>

<p>
  <b>Nbpeople:</b>
  <%= @reservation.nbPeople %>
</p>

<p>
  <b>Startdate:</b>
  <%= @reservation.startDate %>
</p>

<p>
  <b>Enddate:</b>
  <%= @reservation.endDate %>
</p>

<p>
  <b>Lastname1:</b>
  <%= @reservation.lastName1 %>
</p>

<p>
  <b>Firstname1:</b>
  <%= @reservation.firstName1 %>
</p>

<p>
  <b>Lastname2:</b>
  <%= @reservation.lastName2 %>
</p>

<p>
  <b>Firstname2:</b>
  <%= @reservation.firstName2 %>
</p>

<p>
  <b>Lastname3:</b>
  <%= @reservation.lastName3 %>
</p>

<p>
  <b>Firstname3:</b>
  <%= @reservation.firstName3 %>
</p>

<p>
  <b>Lastname4:</b>
  <%= @reservation.lastName4 %>
</p>

<p>
  <b>Firstname4:</b>
  <%= @reservation.firstName4 %>
</p>

<p>
  <b>Level1:</b>
  <%= @reservation.level1 %>
</p>

<p>
  <b>Level2:</b>
  <%= @reservation.level2 %>
</p>

<p>
  <b>Level3:</b>
  <%= @reservation.level3 %>
</p>

<p>
  <b>Level4:</b>
  <%= @reservation.level4 %>
</p>

<p>
  <b>Language:</b>
  <%= @reservation.language %>
</p>

<p>
  <b>Phone:</b>
  <%= @reservation.phone %>
</p>

<p>
  <b>Payed:</b>
  <%= @reservation.payed %>
</p>


<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
