<p id="notice"><%= notice %></p>

<p>
  <b>Idmoniteur:</b>
  <%= @reservation.idMoniteur %>
</p>

<p>
  <b>Iduser:</b>
  <%= @reservation.IDUser %>
</p>

<p>
  <b>Startdate:</b>
  <%= @reservation.startDate %>
</p>

<p>
  <b>Enddate:</b>
  <%= @reservation.endDate %>
</p>

<p>
  <b>Language:</b>
  <%= @reservation.Language %>
</p>

<p>
  <b>Payed:</b>
  <%= @reservation.payed %>
</p>


<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
